
.form-container {
    justify-content: center;

    .sub-form-container {
        @include d-flex('', '', '');
        flex-direction: column;
        padding: 1rem 3rem ;
        @extend .t-center;
        border-radius: 3px;
        background-color: #fff;
    }

    button,
    label:not([for="status"]),
    input:not([type="radio"]){
        display: block;
    }
    button,
    input:not([type="radio"]){
        padding: 5px 15px;
        box-shadow: 1px 1px 4px #000;
        border-radius: 5px;
    }

    label {
        padding: 1rem 0;
    }

    input:not([type="radio"]){
        background-color: #b7b7b7;
    }

    button {
        margin: 1rem auto;
        background-color: #1a1a1a;
        color: #fff;
        cursor: pointer;

        &:hover {
            color: #000;
            background-color:#b7b7b7;
            transition: all 0.2s linear 0.1s;
        }
    }
}

